// ------------------------------------------------------------
// indexcss colors 
// ------------------------------------------------------------
@use "../config" as *;

// -------------------------------------------------------
// Theme utilities
// -------------------------------------------------------
@if $enable-colors {
  @each $name, $scheme, $s1, $s2, $s3, $s4, $s5 in $color-modifiers {
    .theme-#{$name} {
      --canvas: #{$s1};
      --surf-1: #{$s1};
      --surf-2: #{$s2};
      --surf-3: #{$s3};
      --surf-4: #{$s4};
      --surf-5: #{$s5};
    }
  }
}

@each $name, $scheme, $s1, $s2, $s3, $s4, $s5 in $custom-color-modifiers {
  .theme-#{$name} {
    color-scheme: #{$scheme};
    --canvas: #{$s1};
    --surf-1: #{$s1};
    --surf-2: #{$s2};
    --surf-3: #{$s3};
    --surf-4: #{$s4};
    --surf-5: #{$s5};
  }
}

.theme-reset {
  --canvas: #{$theme-canvas};
  --surf-1: #{$theme-surface-1};
  --surf-2: #{$theme-surface-2};
  --surf-3: #{$theme-surface-3};
  --surf-4: #{$theme-surface-4};
  --surf-5: #{$theme-surface-5};
}

.theme-none {
  --canvas: Canvas;
  --surf-1: #{$theme-surface-1};
  --surf-2: #{$theme-surface-2};
  --surf-3: #{$theme-surface-3};
  --surf-4: #{$theme-surface-4};
  --surf-5: #{$theme-surface-5};
}

// -------------------------------------------------------
// Color utilities
// -------------------------------------------------------
.light {
  color-scheme: light;
}
  
.dark {
  color-scheme: dark;
}

.fg-text, .fg-text *, .fg-white, .fg-white *, .fg-black, .fg-black * {
  --link: var(--fg);
  --link-visited: var(--fg);
  --link-hover: var(--fg);
  color: var(--fg);
}

.fg-text, .fg-text * {
  --fg: CanvasText;
}

.fg-white, .fg-white * {
  --fg: #fff;
}
    
.fg-black, .fg-black * {
  --fg: #000;
}

.fg-color, .fg-color * {
  color: var(--fg);
}

.bg-color {
  color: contrast-color(var(--bg));
  background-color: var(--bg);
}

.bg-page {
  color: var(--fg, CanvasText);
  background-color: var(--canvas);
}

.bg-white {
  color: var(--fg, #000);
  background-color: #fff;
}

.bg-black {
  color: var(--fg, #fff);
  background-color: #000;
}

@each $name, $color in $surface-colors {
  .bg-#{$name} {
    color: contrast-color(var(--#{$name}));
    background-color: var(--#{$name});
  }
}

@each $name, $color in $surface-colors {
  .bd-#{$name} {
    border-color: var(--#{$name});
  }
}

@if $enable-colors {
  @if $enable-color-backgrounds {
    @each $name, $token in $color-tokens {
      .bg-#{$name} {
        color: contrast-color(var(--#{$name}));
        background-color: var(--#{$name});
      }    
    
      @for $value from 1 through $color-utilities { 
        .bg-#{$name}-#{$value} {
          color: contrast-color(var(--#{$name}-#{$value}));
          background-color: var(--#{$name}-#{$value});
        }    
      }
    }
  }
  
  @if $enable-color-gradients {
    @each $name, $color, $gradient in $color-gradients {
      .gradient-#{$name} {
        color: #{$color};
        background-image: #{$gradient};
      }    
    }
  }
  
  @if $enable-color-borders {
    @each $name, $token in $color-tokens {
      .bd-#{$name} {
        border-color: var(--#{$name});
      } 
      
      @for $value from 1 through $color-utilities { 
        .bd-#{$name}-#{$value} {
          border-color: var(--#{$name}-#{$value});
        }    
      }
    }
  }
}

// -------------------------------------------------------
// Color modifiers
// -------------------------------------------------------
@if $enable-colors {
  @if $enable-color-forms {
    @each $name, $scheme, $background, $border in $color-modifiers {
      .form-#{$name} {
        color-scheme: #{$scheme};
        --form-bg: #{$background};
        --form-bd-color: #{$border};
        --form-outline-color: #{$border};
      }
    }
  }
  
  @if $enable-color-buttons {
    @each $name, $scheme, $background, $hover, $border in $color-modifiers {
      .btn-#{$name} {
        --btn-bg: #{$background};
        --btn-bg-hover: #{$hover};
        --btn-bd-color: #{$border};
        --btn-outline-color: #{$border};
      }
    }
  }
  
  @if $enable-color-tables {
    @each $name, $scheme, $background, $thead, $border in $color-tables {
      .table-#{$name} {
        color-scheme: #{$scheme};
        --table-bg: #{$background};
        --thead-bg: #{$thead};
        --table-bd-color: #{$border};
        --table-stripes: color-mix(in lab, #{$thead}, transparent 50%);
        --table-hover: color-mix(in lab, #{$thead}, transparent 20%);
      }
    }
  }
  
  @if $enable-color-accordions {
    @each $name, $scheme, $background, $focus, $border in $color-modifiers {
      .accordion-#{$name} {
        color-scheme: #{$scheme};
        --accordion-bg: #{$background};
        --accordion-bd-color: #{$border};
        --accordion-bg-focus: #{$focus};
      }
    }
  }
  
  @if $enable-color-alerts {
    @each $name, $scheme, $background, $border in $color-modifiers {
      .alert-#{$name} {
        color-scheme: #{$scheme};
        --alert-bg: #{$background};
        --alert-bd-color: #{$border};
      }
    }
  }
  
  @if $enable-color-badges {
    @each $name, $scheme, $background, $border in $color-modifiers {
      .badge-#{$name} {
        color-scheme: #{$scheme};
        --badge-bg: #{$background};
        --badge-bd-color: #{$border};
      }
    }
  }
  
  @if $enable-color-cards {
    @each $name, $scheme, $background, $hover, $border in $color-modifiers {
      .card-#{$name}, .card-link-#{$name} {
        color-scheme: #{$scheme};
        --card-bg: #{$background};
        --card-bd-color: #{$border};
        --card-bg-hover: #{$hover};
        --card-outline-color: #{$border};
      }
    }
  }
  
  @if $enable-color-dropdowns {
    @each $name, $scheme, $background, $hover, $border in $color-modifiers {
      .dropdown-#{$name} {
        color-scheme: #{$scheme};
        --dropdown-links-fg: #{$theme-text};
        --dropdown-bg: #{$background};
        --dropdown-bd-color: #{$border};
        --dropdown-bg-hover: #{$hover};
      }
    }
  }
  
  @if $enable-color-list-groups {
    @each $name, $scheme, $background, $hover, $border in $color-modifiers {
      .list-group-#{$name}, .list-links-#{$name} {
        color-scheme: #{$scheme};
        --list-links-fg: #{$theme-text};
        --list-group-bg: #{$background};
        --list-group-bd-color: #{$border};
        --list-group-bg-hover: #{$hover};
      }
    }
  }
  
  @if $enable-color-dialogs {
    @each $name, $scheme, $background, $border in $color-modifiers {
      .dialog-#{$name} {
        color-scheme: #{$scheme};
        --dialog-bg: #{$background};
        --dialog-bd-color: #{$border};
      }
    }
  }
  
  @if $enable-color-popovers {
    @each $name, $scheme, $background, $border in $color-modifiers {
      .popover-#{$name} {
        color-scheme: #{$scheme};
        --popover-bg: #{$background};
        --popover-bd-color: #{$border};
      }
    }
  }
}

// -------------------------------------------------------
// Custom color utilities
// -------------------------------------------------------
@if $enable-custom-color-backgrounds {
  @each $name, $token in $custom-color-tokens {
    .bg-#{$name} {
      color: contrast-color(var(--#{$name}));
      background-color: var(--#{$name});
    }
    
    @for $value from 1 through $color-utilities { 
      .bg-#{$name}-#{$value} {
        color: contrast-color(var(--#{$name}-#{$value}));
        background-color: var(--#{$name}-#{$value});
      }    
    }
  }
}

@if $enable-custom-color-borders {
  @each $name, $token in $custom-color-tokens {
    .bd-#{$name} {
      border-color: var(--#{$name});
    }
    
    @for $value from 1 through $color-utilities { 
      .bd-#{$name}-#{$value} {
        border-color: var(--#{$name}-#{$value});
      }    
    }
  }
}

@each $name, $color, $gradient in $custom-color-gradients {
  .gradient-#{$name} {
    color: #{$color};
    background-image: #{$gradient};
  }    
}

// -------------------------------------------------------
// Custom color modifiers
// -------------------------------------------------------
@if $enable-custom-color-forms {
  @each $name, $scheme, $background, $border in $custom-color-modifiers {
    .form-#{$name} {
      color-scheme: #{$scheme};
      --form-bg: #{$background};
      --form-bd-color: #{$border};
      --form-outline-color: #{$border};
    }
  }
}

@if $enable-custom-color-buttons {
  @each $name, $scheme, $background, $hover, $border in $custom-color-modifiers {
    .btn-#{$name} {
      --btn-bg: #{$background};
      --btn-bg-hover: #{$hover};
      --btn-bd-color: #{$border};
      --btn-outline-color: #{$border};
    }
  }
}

@each $name, $scheme, $background, $thead, $border in $custom-color-tables {
  .table-#{$name} {
    color-scheme: #{$scheme};
    --table-bg: #{$background};
    --thead-bg: #{$thead};
    --table-bd-color: #{$border};
    --table-stripes: color-mix(in lab, #{$thead}, transparent 50%);
    --table-hover: color-mix(in lab, #{$thead}, transparent 20%);
  }
}

@if $enable-custom-color-accordions {
  @each $name, $scheme, $background, $focus, $border in $custom-color-modifiers {
    .accordion-#{$name} {
      color-scheme: #{$scheme};
      --accordion-bg: #{$background};
      --accordion-bd-color: #{$border};
      --accordion-bg-focus: #{$focus};
    }
  }
}

@if $enable-custom-color-alerts {
  @each $name, $scheme, $background, $border in $custom-color-modifiers {
    .alert-#{$name} {
      color-scheme: #{$scheme};
      --alert-bg: #{$background};
      --alert-bd-color: #{$border};
    }
  }
}

@if $enable-custom-color-badges {
  @each $name, $scheme, $background, $border in $custom-color-modifiers {
    .badge-#{$name} {
      color-scheme: #{$scheme};
      --badge-bg: #{$background};
      --badge-bd-color: #{$border};
    }
  }
}

@if $enable-custom-color-cards {
  @each $name, $scheme, $background, $hover, $border in $custom-color-modifiers {
    .card-#{$name}, .card-link-#{$name} {
      color-scheme: #{$scheme};
      --card-bg: #{$background};
      --card-bd-color: #{$border};
      --card-bg-hover: #{$hover};
      --card-outline-color: #{$border};
    }
  }
}

@if $enable-custom-color-dropdowns {
  @each $name, $scheme, $background, $hover, $border in $custom-color-modifiers {
    .dropdown-#{$name} {
      color-scheme: #{$scheme};
      --dropdown-links-fg: #{$theme-text};
      --dropdown-bg: #{$background};
      --dropdown-bd-color: #{$border};
      --dropdown-bg-hover: #{$hover};
    }
  }
}

@if $enable-custom-color-list-groups {
  @each $name, $scheme, $background, $hover, $border in $custom-color-modifiers {
    .list-group-#{$name}, .list-links-#{$name} {
      color-scheme: #{$scheme};
      --list-links-fg: #{$theme-text};
      --list-group-bg: #{$background};
      --list-group-bd-color: #{$border};
      --list-group-bg-hover: #{$hover};
    }
  }
}

@if $enable-custom-color-dialogs {
  @each $name, $scheme, $background, $border in $custom-color-modifiers {
    .dialog-#{$name} {
      color-scheme: #{$scheme};
      --dialog-bg: #{$background};
      --dialog-bd-color: #{$border};
    }
  }
}

@if $enable-custom-color-popovers {
  @each $name, $scheme, $background, $border in $custom-color-modifiers {
    .popover-#{$name} {
      color-scheme: #{$scheme};
      --popover-bg: #{$background};
      --popover-bd-color: #{$border};
    }
  }
}
