// ------------------------------------------------------------
// Mixins
// ------------------------------------------------------------
@mixin icon-utility {
  display: inline-block;
  content: "";
  block-size: var(--ico-xy, 1em);
  inline-size: var(--ico-xy, 1em);
  vertical-align: var(--ico-va, -.16em);
  background-color: var(--ico, CurrentColor);
  mask: var(--svg) no-repeat;
  opacity: var(--ico-op, 1);
}

@mixin decoration-none {
  text-decoration: none;
}

@mixin vis-hidden {
  position: absolute;
  block-size: 1px;
  inline-size: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

@mixin list-none {
  list-style-type: "";
  padding-inline-start: 0;
}
