// ------------------------------------------------------------
// indexcss utilities
// ------------------------------------------------------------
@use "../config" as *;
@use "mixins" as *;

// Buttons
@each $name, $size, $py, $px in $button-sizes {
  .btn-#{$name} {
    --btn-fs: #{$size};
    --btn-py: #{$py};
    --btn-px: #{$px};
  }
}

.btn-outline {
  --btn-fg: CanvasText;
  --btn-bg: transparent;
}

.btn-none {
  --btn-fg: CanvasText;
  --btn-bg: transparent;
  --btn-bg-hover: transparent;
  --btn-bd-color: transparent;
}

// Text
.decoration-none, .decoration-none-group * {
  @include decoration-none;
}

.vis-hidden, .vis-hidden-focus:not(:focus):not(:focus-within) {
  @include vis-hidden;
}

@if $enable-font-sizes {
  @each $name, $value in $font-sizes {
    .fs-#{$name} {
      font-size: #{$value};
    }
  }
}

@if $enable-font-weights {
  @each $name, $value in $font-weights {
    .fw-#{$name} {
      font-weight: #{$value};
    }
  }
}

@if $enable-text-align {
  @each $name, $prop, $value in $text-align-wrap {
    .#{$name}, .#{$name}-group * {
      #{$prop}: #{$value};
    }
  }
}

@if $enable-text-styles {
  @each $name, $prop, $value in $text-styles {
    .#{$name}, .#{$name}-group * {
      #{$prop}: #{$value};
    }
  }
}

@if $enable-text-variables {
  @each $name, $prop, $value in $variable-text-utilities {
    .#{$name}, .#{$name}-group * {
      #{$prop}: #{$value};
    }
  }
}

// Borders
@if $enable-borders {
  .border, 
  [class*=border-] {
    border-width: $border-width;
    border-color: $border-color;
  }
        
  @each $name, $value in $border-style-values {
    .#{$name} {
      #{$value}: $border-style;        
    }
  }
        
  @each $name, $value in $border-style-values { 
    .#{$name}-none {
      #{$value}: none;        
    }
  }
}

// Radius
@if $enable-radius {
  @each $name, $value in $border-radius-values {
    .#{$name} {
      border-radius: #{$value};
    }
  }
  
  @each $name, $value in $border-radius-single-values {
    .#{$name} {
      border-radius: #{$value};
    }
  }
  
  @each $name, $value in $border-radius-values {
    @each $class, $start, $end in $radius-props {
      .#{$name}-#{$class} {
        #{$start}: #{$value};
        #{$end}: #{$value};
      }
    }
  }
}

// Gradients
@if $enable-gradients {
  @each $name, $value in $gradients {
    .#{$name} {
      background-image: var(--#{$name});
    }
  }
}

@if $enable-shadows {
  @each $name, $value in $box-shadows {
    .#{$name} {
      box-shadow: var(--#{$name});
    }
  }
  
  @each $name, $value in $text-shadows {
    .#{$name} {
      text-shadow: var(--#{$name});
    }
  }
}

@if $enable-opacity {
  @each $name, $value in $opacity-values {
    .#{$name} {
      opacity: #{$value};        
    }
  }
}

// Icons
@if $enable-icons {
  :is(.ico, .ico-b, .ico-btn):before, .ico-a:after {
    @include icon-utility;
  }

  .ico-b:before { 
    margin-inline-end: var(--ico-me, 0.25em);
  }
      
  .ico-a:after {
    margin-inline-start: var(--ico-ms, 0.25em);
  }
  
  .ico-btn {
    --btn-px: 0.66em;
  }

  @each $name, $value in $icon-values {
    .ico-#{$name} {
      --svg: #{$value};        
    }
  }
}
