// ------------------------------------------------------------
// Defaults
// ------------------------------------------------------------
$root-tokens: ':where(html)' !default;

// Primary colors
$enable-colors:                     true !default; // disables all (primary colors)
$enable-color-forms:                true !default;
$enable-color-buttons:              true !default;
$enable-color-tables:               true !default;
$enable-color-accordions:           true !default;
$enable-color-alerts:               true !default;
$enable-color-badges:               true !default;
$enable-color-cards:                true !default;
$enable-color-list-groups:          true !default;
$enable-color-dropdowns:            true !default;
$enable-color-dialogs:              true !default;
$enable-color-popovers:             true !default;
$enable-color-disclosures:          true !default;
$enable-color-toasts:               true !default;
$enable-color-backgrounds:          true !default;
$enable-color-borders:              true !default;
$enable-color-gradients:            true !default;

// Custom colors
$enable-custom-color-forms:         true !default;
$enable-custom-color-buttons:       true !default;
$enable-custom-color-accordions:    true !default;
$enable-custom-color-alerts:        true !default;
$enable-custom-color-badges:        true !default;
$enable-custom-color-cards:         true !default;
$enable-custom-color-list-groups:   true !default;
$enable-custom-color-dropdowns:     true !default;
$enable-custom-color-dialogs:       true !default;
$enable-custom-color-popovers:      true !default;
$enable-custom-color-disclosures:   true !default;
$enable-custom-color-toasts:        true !default;
$enable-custom-color-backgrounds:   true !default;
$enable-custom-color-borders:       true !default;

// Utilities
$enable-font-sizes:                 true !default;
$enable-font-weights:               true !default;
$enable-line-heights:               true !default;
$enable-text-align:                 true !default;
$enable-text-styles:                true !default;
$enable-text-variables:             true !default;
$enable-borders:                    true !default;
$enable-radius:                     true !default;
$enable-gradients:                  true !default;
$enable-shadows:                    true !default;
$enable-opacity:                    true !default;

// Layouts
$enable-containers:                 true !default;
$enable-display:                    true !default;
$enable-flex:                       true !default;
$enable-grid:                       true !default;
$enable-alignment:                  true !default;
$enable-ratios:                     true !default;
$enable-columns:                    true !default;
$enable-positioning:                true !default;
$enable-overflow:                   true !default;
$enable-spacing:                    true !default;
$enable-sizes:                      true !default;

// Global breakpoints
$enable-breakpoints:                true !default; // disables all

// Utility breakpoints
$enable-deco-none-breakpoints:      false !default;
$enable-vis-hidden-breakpoints:     false !default;
$enable-font-sizes-breakpoints:     false !default;
$enable-font-weights-breakpoints:   false !default;
$enable-line-heights-breakpoints:   false !default;
$enable-text-align-breakpoints:     false !default;
$enable-text-styles-breakpoints:    false !default;
$enable-borders-breakpoints:        false !default;
$enable-radius-breakpoints:         false !default;

// Layout breakpoints
$enable-display-breakpoints:        true !default;
$enable-flex-breakpoints:           true !default;
$enable-grid-breakpoints:           true !default;
$enable-alignment-breakpoints:      true !default;
$enable-ratios-breakpoints:         true !default;
$enable-columns-breakpoints:        true !default;
$enable-positioning-breakpoints:    true !default;
$enable-overflow-breakpoints:       true !default;
$enable-spacing-breakpoints:        true !default;
$enable-sizes-breakpoints:          true !default;
