// ------------------------------------------------------------
// Includes
// ------------------------------------------------------------
$enable-colors:                     true !default; // false disables all colors
$enable-color-tokens:               true !default;
$enable-color-forms:                true !default;
$enable-color-buttons:              true !default;
$enable-color-tables:               true !default;
$enable-color-accordions:           true !default;
$enable-color-alerts:               true !default;
$enable-color-badges:               true !default;
$enable-color-cards:                true !default;
$enable-color-dropdowns:            true !default;
$enable-color-list-groups:          true !default;
$enable-color-dialogs:              true !default;
$enable-color-popovers:             true !default;
$enable-color-backgrounds:          true !default;
$enable-color-borders:              true !default; // 'border-color' values only
$enable-color-gradients:            true !default;

$enable-text:                       true !default;
$enable-gradients:                  true !default;
$enable-borders:                    true !default;
$enable-radius:                     true !default;
$enable-ratios:                     true !default; // aspect-ratio & object-fit
$enable-icon-tokens:                false !default;
$enable-icon-utilities:             true !default;

$enable-containers:                 true !default;
$enable-display:                    true !default;
$enable-flex:                       true !default;
$enable-grid:                       true !default;
$enable-alignment:                  true !default;
$enable-columns:                    true !default;
$enable-positioning:                true !default;
$enable-overflow:                   true !default;
$enable-spacing:                    true !default;
$enable-sizes:                      true !default;

$enable-breakpoints:                true !default;
$enable-ratios-breakpoints:         false !default;
$enable-text-breakpoints:           false !default;
$enable-borders-breakpoints:        false !default;
$enable-radius-breakpoints:         false !default;
$enable-display-breakpoints:        true !default;
$enable-flex-breakpoints:           true !default;
$enable-grid-breakpoints:           true !default;
$enable-alignment-breakpoints:      true !default;
$enable-columns-breakpoints:        true !default;
$enable-positioning-breakpoints:    true !default;
$enable-overflow-breakpoints:       true !default;
$enable-spacing-breakpoints:        true !default;
$enable-sizes-breakpoints:          true !default;
