// ------------------------------------------------------------
// Resets
// ------------------------------------------------------------
$custom-tokens: () !default;

$font-family:       'system-ui' !default;
$text-color:        light-dark(#000, #fff) !default;
$canvas-color:      light-dark(#f1f2f4, #1f2428) !default;
$link-color:        light-dark(#1c3db5, #9fbfdf) !default;

$reset-tokens: (
  "font": #{$font-family},
  "text": $text-color,
  "link": $link-color,
  "canvas": $canvas-color,
) !default;

$font-size-base:    1rem !default;
$line-height-base:  1.5 !default;
$font-size-1:       $font-size-base * 0.75 !default;
$font-size-2:       $font-size-base * 0.875 !default;
$font-size-3:       $font-size-base !default;
$font-size-4:       $font-size-base * 1.063 !default;
$font-size-5:       $font-size-base * 1.125 !default;
$font-size-6:       $font-size-base * 1.25 !default;
$font-size-7:       $font-size-base * 1.375 !default;
$font-size-8:       $font-size-base * 1.575 !default;
$font-size-9:       $font-size-base * 1.8 !default;
$font-size-10:      $font-size-base * 2.125 !default;
$font-size-11:      $font-size-base * 2.5 !default;
$font-size-12:      $font-size-base * 3 !default;

$font-sizes: (
  "1": $font-size-1,
  "2": $font-size-2,
  "3": $font-size-3,
  "4": $font-size-4,
  "5": $font-size-5,
  "6": $font-size-6,
  "7": $font-size-7,
  "8": $font-size-8,
  "9": $font-size-9,
  "10": $font-size-10,
  "11": $font-size-11,
  "12": $font-size-12,
) !default;

$line-heights: (
  "lh-1": $line-height-base - 0.3,
  "lh-2": $line-height-base - 0.2,
  "lh-3": $line-height-base,
  "lh-4": $line-height-base + 0.1,
) !default;

$theme-surface-1:   color-mix(in srgb, CanvasText 5%, var(--canvas)) !default;
$theme-surface-2:   color-mix(in srgb, CanvasText 10%, var(--canvas)) !default;
$theme-surface-3:   color-mix(in srgb, CanvasText 20%, var(--canvas)) !default;
$theme-surface-4:   color-mix(in srgb, CanvasText 30%, var(--canvas)) !default;
$theme-surface-5:   color-mix(in srgb, CanvasText 40%, var(--canvas)) !default;

$surface-colors: (
  "surf-1": $theme-surface-1,
  "surf-2": $theme-surface-2,
  "surf-3": $theme-surface-3,
  "surf-4": $theme-surface-4,
  "surf-5": $theme-surface-5,
) !default;
