// ------------------------------------------------------------
// indexcss setup
// ------------------------------------------------------------
// For custom variable tokens
$custom-tokens: () !default;

// Variable tokens 
$tokens-class: ':where(html)' !default;

// ------------------------------------------------------------
// Primary colors - see 'config/colors.scss'
// ------------------------------------------------------------
$enable-colors:                     true !default;
$enable-color-tokens:               true !default;

// Requires tokens (default or custom)
$enable-color-forms:                true !default;
$enable-color-buttons:              true !default;
$enable-color-tables:               true !default;
$enable-color-accordions:           true !default;
$enable-color-alerts:               true !default;
$enable-color-badges:               true !default;
$enable-color-cards:                true !default;
$enable-color-dropdowns:            true !default;
$enable-color-list-groups:          true !default;
$enable-color-dialogs:              true !default;
$enable-color-popovers:             true !default;
$enable-color-backgrounds:          true !default;
$enable-color-borders:              true !default;
$enable-color-gradients:            true !default;

// ------------------------------------------------------------
// Custom colors - see 'config/colors.scss'
// ------------------------------------------------------------
$enable-custom-color-forms:         false !default;
$enable-custom-color-buttons:       false !default;
$enable-custom-color-accordions:    false !default;
$enable-custom-color-alerts:        false !default;
$enable-custom-color-badges:        false !default;
$enable-custom-color-cards:         false !default;
$enable-custom-color-dropdowns:     false !default;
$enable-custom-color-list-groups:   false !default;
$enable-custom-color-dialogs:       false !default;
$enable-custom-color-popovers:      false !default;
$enable-custom-color-backgrounds:   false !default;
$enable-custom-color-borders:       false !default;

// ------------------------------------------------------------
// Utilities - see 'config/utilities.scss'
// ------------------------------------------------------------
$enable-text:                       true !default;
$enable-gradients:                  true !default;
$enable-borders:                    true !default;
$enable-radius:                     true !default;
$enable-ratios:                     true !default; 
$enable-icon-tokens:                true !default;
$enable-icon-utilities:             true !default;

// ------------------------------------------------------------
// Layouts - see 'config/layouts.scss'
// ------------------------------------------------------------
$enable-containers:                 true !default;
$enable-display:                    true !default;
$enable-flex:                       true !default;
$enable-grid:                       true !default;
$enable-alignment:                  true !default;
$enable-columns:                    true !default;
$enable-positioning:                true !default;
$enable-overflow:                   true !default;
$enable-spacing:                    true !default;
$enable-sizes:                      true !default;

// ------------------------------------------------------------
// Breakpoints - see 'config/layouts.scss' for breakpoint widths
// ------------------------------------------------------------
// Disables breakpoints globally
$enable-breakpoints:                true !default;

// Requires global breakpoints enabled
$enable-ratios-breakpoints:         false !default;
$enable-text-breakpoints:           false !default;
$enable-borders-breakpoints:        false !default;
$enable-radius-breakpoints:         false !default;
$enable-display-breakpoints:        true !default;
$enable-flex-breakpoints:           true !default;
$enable-grid-breakpoints:           true !default;
$enable-alignment-breakpoints:      true !default;
$enable-columns-breakpoints:        true !default;
$enable-positioning-breakpoints:    true !default;
$enable-overflow-breakpoints:       true !default;
$enable-spacing-breakpoints:        true !default;
$enable-sizes-breakpoints:          true !default;
