// ------------------------------------------------------------
// Utilities
// ------------------------------------------------------------
// Text
$font-size-1:       0.75rem !default;
$font-size-2:       0.875rem !default;;
$font-size-3:       1rem !default;
$font-size-4:       1.063rem !default;
$font-size-5:       1.125rem !default;
$font-size-6:       1.25rem !default;
$font-size-7:       1.375rem !default;
$font-size-8:       1.575rem !default;
$font-size-9:       1.8rem !default;
$font-size-10:      2.125rem !default;
$font-size-11:      2.5rem !default;
$font-size-12:      3rem !default;

$font-sizes: (
  "1": $font-size-1,
  "2": $font-size-2,
  "3": $font-size-3,
  "4": $font-size-4,
  "5": $font-size-5,
  "6": $font-size-6,
  "7": $font-size-7,
  "8": $font-size-8,
  "9": $font-size-9,
  "10": $font-size-10,
  "11": $font-size-11,
  "12": $font-size-12,
) !default;

$font-weights: (
  "normal": normal,
  "lighter": lighter,
  "bold": bold, 
  "semibold": 600,
  "heavy": 800,
) !default;

$text-align-wrap: (
  "text-center" text-align center,
  "text-left" text-align left,
  "text-right" text-align right,
  "text-balance" text-wrap balance,
  "text-pretty" text-wrap pretty,
) !default;

$text-styles: (
  "text-caps" text-transform capitalize,
  "text-uppercase" text-transform uppercase,
  "text-lowercase" text-transform lowercase,
  "font-smallcaps" font-variant small-caps,
  "font-tabular-nums" font-variant tabular-nums,
  "font-slashed-zero" font-variant slashed-zero,
  "font-common-lig" font-variant common-ligatures,
  "font-no-common-lig" font-variant no-common-ligatures,
) !default;

$variable-text-utilities: (
  "font-family" font-family var(--ff),
  "font-size" font-size var(--fs),
  "font-weight" font-weight var(--fw),
  "line-height" line-height var(--lh),
  "letter-space" letter-spacing var(--ls),
  "word-space" word-spacing var(--ws),
) !default;

// Button sizes
$button-sizes: (
  "xs" $font-size-1 0.25rem 0.65rem,
  "sm" $font-size-2 0.25rem 0.75rem,
  "lg" $font-size-6 0.35rem 0.95rem,
  "xl" $font-size-7 0.5rem 1.125rem,
) !default;

// Gradients
$gradient-1:    linear-gradient(180deg, rgba(white, .175), rgba(white, 0)) !default;
$gradient-2:    linear-gradient(180deg, rgba(white, .225), rgba(white, 0)) !default;
$gradient-3:    linear-gradient(180deg, rgba(white, .33), rgba(white, 0)) !default;

$gradients: (
  "gradient-1": $gradient-1,
  "gradient-2": $gradient-2,
  "gradient-3": $gradient-3,
) !default;

// Shadows
$box-shadow-1:    0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !default;
$box-shadow-2:    0 0.25rem 0.75rem rgba(0, 0, 0, 0.15) !default;
$box-shadow-3:    0 0.5rem 1.25rem rgba(0, 0, 0, 0.15) !default;
$box-shadow-4:    0 1rem 2.5rem rgba(0, 0, 0, 0.175) !default;
$text-shadow-1:   1px 1px 2px rgb(0 0 0/0.33) !default;
$text-shadow-2:   1px 2px 2px rgb(0 0 0/0.4) !default;
$text-shadow-3:   2px 3px 3px rgb(0 0 0/0.4) !default;
$text-shadow-4:   2px 4px 4px rgb(0 0 0/0.4) !default;

$box-shadows: (
  "box-shadow-1": $box-shadow-1,
  "box-shadow-2": $box-shadow-2,
  "box-shadow-3": $box-shadow-3,
  "box-shadow-4": $box-shadow-4,
) !default;

$text-shadows: (
  "text-shadow-1": $text-shadow-1,
  "text-shadow-2": $text-shadow-2,
  "text-shadow-3": $text-shadow-3,
  "text-shadow-4": $text-shadow-4,
) !default;

// Borders
$border-width:    var(--bd-width, 1px) !default;
$border-color:    var(--bd-color, var(--surf-3)) !default;
$border-style:    var(--bd-style, solid) !default;

$border-style-values: (
  "border": border-style,
  "border-t": border-block-start-style,
  "border-b": border-block-end-style,
  "border-s": border-inline-start-style,
  "border-e": border-inline-end-style,
  "border-y": border-block-style,
  "border-x": border-inline-style,
) !default;

// Radius
$radius-1:  0.188rem !default;
$radius-2:  0.313rem !default;
$radius-3:  0.5rem !default;
$radius-4:  0.75rem !default;
$radius-5:  1rem !default;

$border-radius-values: (
  "radius-0": 0,
  "radius-1": $radius-1,
  "radius-2": $radius-2,
  "radius-3": $radius-3,
  "radius-4": $radius-4,
  "radius-5": $radius-5,
) !default;

$border-radius-single-values: (
  "radius-pill": 50rem,
  "radius-circle": 50%,
) !default;

$radius-props: (
  "t" border-start-start-radius border-start-end-radius,
  "b" border-end-start-radius border-end-end-radius,
  "s" border-start-start-radius border-end-start-radius,
  "e" border-start-end-radius border-end-end-radius,
) !default;

// Opacity
$opacity-values: (
  "opacity": var(--op),
  "opacity-100": 1,
  "opacity-75": 0.75,
  "opacity-50": 0.5,
  "opacity-25": 0.25,
) !default;

// Backdrop filter
$backdrop-blur-values:    5 !default; // px

$backdrop-filter-values: (
  "backdrop-blur" backdrop-filter var(--blur),
  "backdrop-invert" backdrop-filter var(--invert),
  "backdrop-sepia" backdrop-filter var(--sepia),
) !default;
