.alert,
[class*=alert-]:not(.alert-dismiss) {
  color: var(--alert-fg, contrast-color(var(--alert-bg, var(--surf-1))));
  margin-block-end: var(--alert-mb, 1rem);
  padding-block: var(--alert-py, 0.75rem);
  padding-inline: var(--alert-px, 1rem);
  border: var(--alert-bd-width, 1px) solid var(--alert-bd-color, var(--surf-3));
  border-radius: var(--alert-radius, 0.188rem);
  background-color: var(--alert-bg, var(--surf-1));
  
  :last-of-type:is(p, ol, ul, dl) {
    margin-block-end: 0;
  }
}

dialog[open]:is(.alert, [class*=alert-]) {
  position: relative;
  inline-size: 100%;
  max-inline-size: 100%;
  margin: initial;
  margin-block-end: var(--alert-mb, 1rem);
  padding-inline-end: 3rem;
  
  &:focus-visible {
    outline: 1px solid var(--alert-bd-color, var(--surf-3));
  }
    
  .alert-dismiss {
    --btn-bg: var(--alert-bg, var(--surf-1));
    --btn-bg-hover: var(--alert-bg, var(--surf-1));
    --btn-bd-color: var(--alert-bg, var(--surf-1));
    --btn-outline-color: var(--alert-bd-color, var(--surf-3));
    --btn-px: 0.66em;
    position: absolute;
    inset-block-start: 0.375rem;
    inset-inline-end: 0.5rem;
    
    &:before {
      --svg: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m2.47 3.53 1.06-1.06 4.47 4.47 4.47-4.47 1.06 1.06-4.47 4.47 4.47 4.47-1.06 1.06-4.47-4.47-4.47 4.47-1.06-1.06 4.47-4.47z'/></svg>");
      display: inline-block;
      content: "";
      block-size: 1em;
      inline-size: 1em;
      vertical-align: -.115em;
      background-color: var(--ico, CurrentColor);
      mask: var(--svg) no-repeat;
    }
    
    &:hover {
      color: var(--link, revert);
    }
  }
  
  p {
    padding-inline-end: 2.5rem;
  }
}
