.badge,
[class*=badge-] {
  color: var(--badge-fg, contrast-color(var(--badge-bg, var(--surf-1))));
  font-size: var(--badge-fs, 0.875em);
  font-weight: var(--badge-fw);
  text-align: center;

  display: inline-block; 
  padding-block: var(--badge-py, 0.25em);
  padding-inline: var(--badge-px, 0.65em);
  border: var(--badge-bd-width, 1px) solid var(--badge-bd-color, var(--surf-3));
  border-radius: var(--badge-radius, 0.188rem);
  background-color: var(--badge-bg, var(--surf-1));
  
  &:is(.badge-outline) {
    --badge-bg: var(--canvas);
  }
  
  &:is(.badge-pill) {
    --badge-px: 1em;
    --badge-radius: 10rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  .badge,
  [class*=badge-] {
    --badge-fs: 0.6em;
    --badge-fw: normal;
    --badge-py: 0.35em;
    --badge-px: 0.5em; 
  }   
}
