.badge,
[class*=badge-] {
  color: var(--badge-fg, contrast-color(var(--badge-bg, var(--background, Canvas))));
  font-size: var(--badge-fs, 0.75em);
  font-weight: var(--badge-fw);
  text-align: center;
  line-height: 1.2;
  display: inline-block; 
  position: relative;
  inset-block-start: -0.125em;
  padding-block: var(--badge-py, 0.375em);
  padding-inline: var(--badge-px, 0.625em);
  border: var(--badge-bd-width, 1px) solid var(--badge-bd-color, var(--surf-3));
  border-radius: var(--badge-radius, 0.188rem);
  background-color: var(--badge-bg, var(--surf-1));
  
  &:is(.badge-outline) {
    --badge-bg: var(--background, Canvas);
  }
  
  &:is(.badge-pill) {
    --badge-px: 1em;
    --badge-radius: 10rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  .badge,
  [class*=badge-] {
    --badge-fs: 0.625em;
    --badge-fw: normal;
    --badge-py: 0.25em;
    --badge-px: 0.5em; 
  }   
}
